* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: rgba(17, 39, 11, 1);
  --light: rgba(162, 255, 91, 1);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -0.02rem;
  line-height: 0.85;
  text-align: center;
}

section {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.hero,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
}

.hero h1,
.outro h1 {
  width: 50%;
}

.sticky-text-1,
.sticky-text-2 {
  background-color: var(--light);
  color: var(--dark);
}

.sticky-text-3 {
  color: var(--light);
  background-color: var(--dark);
}

.text-container,
.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: opacity, transform;
  z-index: 1;
}

.text-container h1 {
  position: relative;
  letter-spacing: -0.11em;
  transform-origin: 50% 0%;
  transform: scale(0);
}

.sticky-text-1,
.text-container h1 {
  left: -0.5rem;
  font-size: 20vw !important;
  font-weight: 500 !important;
  will-change: transform;
}

.sticky-text-2,
.text-container h1 {
  font-size: 20vw !important;
  font-weight: 500 !important;
  will-change: transform;
}

.sticky-text-3,
.text-container h1 {
  font-size: 20vw !important;
  font-weight: 500 !important;
  font-weight: 900;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 2;
}
