* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #0f0f0f;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  width: 45%;
  display: flex;
  justify-content: space-between;
}

nav p {
  text-transform: uppercase;
  font-family: serif;
  font-size: 0.8rem;
  line-height: 1;
}

.container {
  position: relative;
  width: 100%;
  height: 600vh;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.about-copy {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 4rem;
}

.copy-block {
  flex: 1;
}

.copy-block p {
  font-size: 1.75rem;
  font-weight: 450;
  letter-spacing: -0.025rem;
  line-height: 1.2;
}

.copy-block p .line-mask {
  overflow: hidden; /* Line wrapper clips the word */
  display: inline-block;
}

.copy-block p .word {
  display: inline-block;
  will-change: transform;
}
.scroll-indicator {
  position: absolute;
  width: 10rem;
  height: 0.1rem;
  top: 2rem;
  right: 2rem;
  background-color: #2f2f2f;
}

.scroll-indicator::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: left;
  transform: scaleX(var(--progress, 0));
  will-change: transform;
}

.marquee {
  position: absolute;
  left: 0;
  bottom: 2rem;
  width: 100%;
  height: 7.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.marquee-track {
  display: flex;
  gap: 0.75rem;
  will-change: transform;
}

.marquee-item {
  width: 10rem;
  height: 6rem;
  border-radius: 0.25rem;
  overflow: hidden;
}
